<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location>
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="Reverse Proxy to API" stopProcessing="true">
						<match url="^api/(.*)" />
						<action type="Rewrite" url="http://localhost:5001/api/{R:1}" logRewrittenUrl="true" />
					</rule>
					<rule name="SignalR" stopProcessing="true">
						<match url="^events(.*)" />
						<action type="Rewrite" url="http://localhost:5001/events{R:1}" logRewrittenUrl="true" />
					</rule>
					<rule name="AngularJS Routes" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
						<action type="Rewrite" url="/" />
					</rule>
				</rules>
			</rewrite>
			<security>
				<requestFiltering>
					<requestLimits maxQueryString="32768" maxAllowedContentLength="3000000000" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>